.aboutContainer {
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    font-size: 40px;
    font-weight: bold;
}
.leftPart {
    width: 55vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}

.leftPart-content{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    
}

.leftPart-content p.content {
    align-self: flex-end;
    width: 40vh;

}
.img-container{
    margin-top: 1.6vh;
    width: 100%;
    height: auto;
}

.img-container img{
    width: 100%;
    object-fit: cover;
}

.rightPart {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    width: 27vw;
    height: 30vh;
}

/* */
  .CardContainer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr)); /* Responsive columns */
        gap: 3%; /* Space between the cards */
        justify-items: center; /* Center items in their grid cells */
        padding: 2rem 0;
    }
    
    
    
  
  @media (max-width: 1024px) {
    .leftPart-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .aboutContainer{
        display: flex;
        flex-direction: column;
    }
    .leftPart, .rightPart{
        width: 100%;
    }
    .leftPart{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: auto;
    }
}
