#root {
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}
.accommodation-price{
    color: #3C6553;
text-align: right;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.left {
    font-family: 'Montserrat', sans-serif;
    padding: 2rem;
    width: 27vw;
    min-height: calc(100vh - 4rem - 45px - 20px - 2rem);
    height: 40%;
    border-radius: 30px;
    box-shadow: 2px 2px 40px -12px rgba(0, 0, 0, 0.25);
}

.left-container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.right {
    width: 55vw;
    height: auto;
}
.right h2{
    font-size: 1.25rem;
    color: #000;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.filter {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hide{
    cursor: pointer;
    color: #066EB9;
font-family: Montserrat;
font-size: 0.8rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
p.tag {
    color: #000;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price-input {
    width: 45%;
    height: 2.8rem;
    border-radius: 0.625rem;
    border: none;
    margin-top: 0.625rem;
    text-align: right;
    margin-right: 0.625rem;
    padding-left: 0.625rem;
    text-align: left;
    background: #ebefee;
}

.price-inputt {
    max-width: 250px;
    width: 70%;
    height: 39px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    text-align: right;
    margin-right: 10px;
    padding-left: 10px;
    text-align: left;
    background: #ebefee;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit {
    border: none;
    width: 100%;
    text-align: center;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #3c6553;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.right h2 {
    margin-bottom: 1rem;
}

.accommodation-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.accommodation-item {
    height: 18vh;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 26px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    padding: 20px;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-wrapper {
    flex: 0 0 auto;
    margin-right: 20px;
}

.accommodation-image {
    width: 20rem;
    border-radius: 26px;
    height: 100%;
}

.accommodation-details {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.accommodation-name {
    margin: 0;
    margin-left: 1.875rem;
}
.accommodation-cost{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.accommodation-address {
    margin-top: 0;
    margin-left: 1.875rem;
    color: #3c6553;
    font-family: "Montserrat", sans-serif;
    line-height: normal;
}



.reviews-badge {
    color: black;
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .accommodation-item{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 60vh;
    }
    .accommodation-details{
        margin-left: 0;
    }
    .accommodation-name, .accommodation-address{
        margin-left: 0;
    }
    .accommodation-cost{
        display: flex;
        flex-direction: column;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .left, .right{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .left{
        margin-top: 10%;
    }
} 
