#root {
  background-color: #f5f5f5;
}

.manage_booking_container {
  padding: 0.5rem;
  height: 100vh;
  width: 90%;
  margin: auto;
}

.booked_homestays_container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  gap: 1rem;
  background-color: #fff;
  padding: 1rem;
  border-radius: 30px;
}

.item img {
  width: 15rem;
  height: 100%;
  border-radius: 30px;
}

.info_homestay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail {
  flex: 1;
}

.details_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 1px;
  height: auto;
  background-color: black;
}

.top_section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom_section {
  display: flex;
  justify-content: space-between;
}

.container .subject {
  font-size: 1rem;
  font-weight: bold;
}

.hour {
  color: #e76d6d;
  font-weight: bold;
  font-size: 1.25rem;
}

.cancel {
  padding: 0.5rem 1rem;
  background-color: #3c6553;
  font-family: Montserrat;
  color: white;
  border-radius: 1.5rem;
  font-weight: bold;
}

.price_info {
  font-size: 1.15rem;
  color: #3c6553;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #3c6553;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 1100px) {
  .dropdown-content {
    display: none;
  }
}
