.hs-main{ 
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.item {
    position: relative;
    border: 1px solid grey;
    min-height: 20vh;
    background-size: cover;
    background-position: center;
}

.gal-container {
    display: grid;
    grid-template-columns: 50vw 20vw 20vw;
    gap: 10px;
}

.item-1 {
    border-radius: 30px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.item-2 {
    grid-column-start: 2;
    border-radius: 30px;
    grid-column-end: 4;
}

.item-3 {
border-radius: 30px;
}
.gray-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.item-4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 30px;
    position: relative;
    display: flex; /* Sử dụng flexbox */
    align-items: center; /* Căn dọc giữa */
    justify-content: center; /* Căn ngang giữa */
}

.item-4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: relative;
    display: flex; /* Sử dụng flexbox */
    align-items: center; /* Căn dọc giữa */
    justify-content: center; /* Căn ngang giữa */
}

#seeMore {
    border-radius: 30px;
    display: none;
    border: none; /* Bỏ border */
    font-size: 50px; /* Cỡ chữ tăng lên 20px */
    background-color: rgba(0, 0, 0, 0.5); /* Màu xám */
    color: white; /* Chuyển chữ sang màu trắng */
    cursor: pointer;
    width: 100%; /* Kích thước bằng với item-4 */
    height: 100%; /* Kích thước bằng với item-4 */
    position: absolute; /* Tùy chỉnh vị trí */
    top: 0; /* Tùy chỉnh vị trí */
    left: 0; /* Tùy chỉnh vị trí */
}



/* CSS cho layout gallery */
.gallery-container {
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
}

.image-container {
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
}

.prev-button, .next-button, .close-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: none;
    background-color: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
}

.prev-button, .next-button {
    width: 50px;
    height: 50px;
}

.prev-button {
    left: 3%;
}

.next-button {
    right: 3%;
}

.close-button {
    top: 4%;
    right: 20px;
    width: 50px;
    height: 50px;
}

.hs-address{
    margin: 0;
    color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.homestay-details{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.details{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 10px;
}

.homestay-slogan{
    color: #000;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
margin-top: 10px;
}
.homestay-des{
    margin: 0;
}
.map-container{
    width: 55vw;
    display: flex;
    flex-direction: row;
    gap: 40px;
} 

.map{
    width: 45vw;
    height: 40vh;
    border-radius: 20px;
    border: none;
}
ul.advantages{
    max-width:15vw;
    display: inline-block;
}

li.ad{
    margin-bottom: 10px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right:20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 30px;
    background: #EBEFEE;
}

.details h1{
    margin: 0;
}
.payment{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 20vw;
    height: auto;
    padding: 50px;
    border-radius: 29px;
    background: #FFF;
    box-shadow: 0px 0px 23.8px -6px rgba(0, 0, 0, 0.25);
}

.cost-container{
    height: auto;
    display: flex;
    justify-content: space-between;
}

.cost-container .price{
    margin: 0;
    display: flex;
    align-items: center;
    color: #000;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.cost-container .price .de{
    color: #000;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.star {
    font-size: 18px;
}

button.submit{
    border: none;
    height: 47px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #3C6553;
    text-align: center;
    color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

button.addToCart{
    border: none;
    height: 47px;
    border-radius: 11px;
    text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 18px;
    border: 1.5px solid #C9C9C9;
    height: 30vh;
    background-color: red;
    width: 100%;
    margin: auto;
    background: #fff;
}

.date {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 33%;
}

.date div {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date .separate {
    width: 1px;
    height: 9vh;
    background-color: #C9C9C9;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"] {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 100%;
}
hr{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.number{
    margin-left: 4vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 33%;
    justify-content: space-evenly;
}
.number .title{
    width: 80%;
    justify-content: space-between;
    display: flex;
    margin: 0;
    color: #000;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.number .option-container p{
    margin: 0;
    color: #000;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.submit{
    cursor: pointer;
}


.contact-container{
    display: flex;
    justify-content: space-between;
}

.link-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.link-contact .send-messages{
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 13px;
background: #EBEBEB;
box-shadow: 0px 0px 8.2px -10px rgba(0, 0, 0, 0.25);
color: #000;
text-align: center;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.got-a-question{
    margin: 0;
    color: #000;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}
.contact-info-title{
    margin: 10px 0px 0px 0px;
    color: #000;
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;;
}
.phone-number{
    margin-top: 0;
    color: #000;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}